@import 'variables';
@import 'mixins';

// BODY STANDARDS
body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin: 0 auto;
  width: 90%
}

//BUTTON
button {
  background-color: $seafoam;
  border: 1px solid $grey-medium;
  @include block-shadow;
  cursor: pointer;
  font-size: $base-font-size;
  margin: 8px 4px;
  padding: 10px;
  text-align: center;
}
button:hover {
  background-color: $grey-light;
}

//INPUT STANDARDS
input,
textarea {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

// GRID
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin: 14px;

  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  label {
    width: 100%;
  }

  input,
  select {
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 0;
    padding: 10px;
    width: 100%;
  }
}

// UTILITIES
.bold {
  font-weight: bold;
}
.hide {
  display: none;
}
ul.list-decoration-on {
  list-style-type: disc !important;
  padding-left: 20px !important;
}


// LIST
div.alex-block-form {
  ul {
    list-style-type: none;
    padding: 0;

    li.list-top-level {
      font-size: 16px;
      font-weight: bold;

      ul {
        li {
          font-weight: normal;
        }
      }
    }

    li.draggable {
      border: 1px solid #cdcdcd;
      cursor: grab;
      margin: 4px;
      padding: 4px;

      &:hover {
        background-color: #f0f0f0;
      }

      &:focus,
      &:active {
        cursor: grabbing;
      }
    }
  }
}
