form {
  margin: 20px 0 120px 0;

  // CHECKLIST BLOCK
  div.alex-block-checklist {
    button.alex-block-checklist-button {
      margin: 0;
      width: 100%;
    }
    div.alex-block-checklist-list {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease-out;

      &.show {
        max-height: 500px; // Adjust as needed
        transition: max-height 0.5s ease-in;
      }

      ul {
        list-style-type: none;
      }
    }
  }

  // HINT BLOCK
  div.alex-block-hint {

  }

  // DATE BLOCK
  div.alex-block-date {
    label {
      width: 100%;
    }

    div.alex-block-date-input {
      display: flex;
      width: 100%;

      input {
        margin: 8px 0 0 0;
      }

      .alex-block-hint {
        width: calc(100% - 100px);
      }
    }
  }

  div.alex-block-tags {

    select {
      height: 350px;
    }

    div.alex-block-select-other {
      label {
        width: 100%;
      }
      textarea {
        box-sizing: border-box;
        margin: 8px 0;
        width: 100%;
      }
    }
  }

  div.alex-block-activities {

    select {
      height: 400px;
    }
  }
}
