form {
  margin-top: 20px;

  button.form-data-clear-button {
    background-color: $base-background-color;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    font-size: $base-font-size;
    margin: 8px 4px;
    padding: 10px;
    text-align: center;
  }

  div.form-data-date-block {
    margin: 8px;

    label {
      width: 100%;
    }

    div.form-data-date-block-input {
      display: flex;
      width: 100%;

      input {
        cursor: pointer;
        padding: 10px;
        width: 130px;
      }

      input[type="date"] {
        cursor: pointer;
      }

      .form-data-date-block-hint {
        width: calc(100% - 100px);
      }
    }
  }

  div.form-data-hint-date {

  }

  div.form-data-textarea-block {
    margin: 8px;

    label.form-data-textarea-label {
      width: 100%;
    }

    div.form-data-textarea-input {
      display: flex;
      width: 100%;

      div.form-data-textarea-input-hint {
        width: 60%;
        box-sizing: border-box;

        ul {
          list-style-type: none;
          padding: 0;

          li.list-top-level {
            font-size: 16px;
            font-weight: bold;

            ul {
              li {
                font-weight: normal;
              }
            }
          }

          li.draggable {
            border: 1px solid #cdcdcd;
            cursor: grab;
            margin: 4px;
            padding: 4px;

            &:hover {
              background-color: #f0f0f0;
            }

            &:focus,
            &:active {
              cursor: grabbing;
            }
          }
        }
      }

      input.form-data-textarea-input-input,
      select.form-data-textarea-input-select {
        border: 1px solid #cdcdcd;
        cursor: pointer;
        padding: 20px;
        width: 40%;
        box-sizing: border-box;
      }
      input.form-data-textarea-input-input {
        padding: 20px;
        white-space: pre-wrap;
        width: 100%;
        box-sizing: border-box;
        overflow-wrap: break-word;
      }
      select.form-data-textarea-input-select {
        min-height: 175px;
      }

      div.form-data-workspace {
        border: 1px solid #cdcdcd;
        cursor: pointer;
        font-size: 16px;
        padding: 20px;
        width: 40%;
        box-sizing: border-box;
        &.sticky {
          min-height: 450px;
          position: fixed;
          top: 50px;
          left: 60%;
          width: 35%;
        }
        div.form-data-workspace-header {
          margin: 0 0 20px 0;
        }
        textarea {
          border-color: #eeeeee;
          font-family: "Arial", "Helvetica", sans-serif;
          font-size: 16px;
          min-height: 75px;
          padding: 15px 0;
          width: calc(100% - 30px);
        }
        div.form-data-workspace-footer {
          margin:10px 0 20px 0;
        }
      }
    }

    @keyframes slideDown {
      from {
        max-height: 0;
        opacity: 0;
      }
      to {
        max-height: 500px; // Adjust as needed
        opacity: 1;
      }
    }
    div.form-data-textarea-input-select-other {
      box-sizing: border-box;
      margin-top: 8px;
      width: 100%;
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: max-height 0.5s ease-out, opacity 0.5s ease-out;

      &.show {
        animation: slideDown 0.5s forwards;
      }
      &.hide {
        animation: slideUp 1.5s forwards;
      }

      label {
        width: 10%;
      }

      input {
        padding: 10px;
        width: 100%;
        display: flex;
        box-sizing: border-box;
      }
    }
  }

  div.form-data-submit-block {
    margin: 8px;
    display: flex;

    .form-data-submit_button-block {
      width: 20%;

      button[type="submit"] {
        background-color: $base-background-color;
        border: 1px solid #cdcdcd;
        cursor: pointer;
        font-size: $base-font-size;
        margin: 8px 0;
        padding: 10px;
        text-align: center;
      }
    }

    .form-data-submit_message-block {
      width: 80%;

      .alert {
        background-color: $base-background-color;
        border: 1px solid #cdcdcd;
        margin: 8px 0;
        padding: 10px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}

div.form-data-results {
  pre {
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    padding: 0 40px 40px 40px;
    width: 100%;
    white-space: pre-wrap;

    .form-data-results-footer {
      display: flex;
      justify-content: space-between;
      margin: 80px 0 20px 0;
    }
  }
}