// _variables.scss
$base-font-family: 'Arial', 'Helvetica', sans-serif;
//FONT SIZES
$base-font-size: 24px;
$base-font-size-med: 18px;
//COLORS
$black: #000000;
$white: #ffffff;
$grey-light: #f0f0f0;
$grey-medium: #cdcdcd;
$grey-dark: #333333;
$seafoam: #cef3ef;


$base-font-color: $black;
$base-background-color: $seafoam;